.section-how-work {
  background: url(./../img/section_3/bg_sec_3-min.png) center center / cover no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 1060px;
  @media screen and (max-width:1000px) {
    align-items: center;
   }
   @media screen and (max-width:768px) {
    padding: 2%;
  }
}

.section-how-work__top {
  margin-left: 130px;
  margin-top: 178px;
  max-width: 586px;
  position: relative;
  @media screen and (max-width:1000px) {
    margin-top: 30px;
    margin-left: 0;
   }
  .section-how-work__arrow-elem {
    background: url(./../img/section_3/line_text_1-min.png) center center / cover no-repeat;
    width: 600px;
    height: 100px;
    position: absolute;
    left: 77%;
    bottom: -60px;
    @media screen and (max-width:1260px) {
     display: none;
    }
    
  }
}

.section-how-work__title {
  color: #251c17;
  font-family: 'BradleyHand';
  font-size: 40px;
  line-height: 1;
  @media screen and (max-width:480px) {
    font-size: 30px;
   }
}

.section-how-work__suttitle {
  color: #ef8f20;
  font-size: 40px;
  font-family: 'BradleyHand';
  line-height: 1;
  margin-bottom: 32px;
  @media screen and (max-width:480px) {
    font-size: 30px;
   }
}

.section-how-work__text {
  font-size: 14px;
  font-family: 'CoreRhino';
  font-weight: 500;
  line-height: 1.7;
}

.section-how-work__middle {
  max-width: 600px;
  margin-left: 37%;
  margin-top: 10.5%;
  position: relative;
  @media screen and (max-width:1000px) {
    margin-left: 0;
  }
  .section-how-work__arrow-elem {
    background: url(./../img/section_3/line_text_2-min.png) center center / cover no-repeat;
    width: 150px;
    height: 120px;
    position: absolute;
    left: -30%;
    top: 34%;
    @media screen and (max-width:1000px) {
      display: none;
    }
  }
}

.section-how-work__bottom {
  margin-left: 11%;
  margin-top: 4%;
  
}

.section-how-work__list {
  display: flex;
    width: 70%;
    margin-left: 14%;
    @media screen and (max-width:1260px) {
      width: 100%;
      margin: 0;
      flex-wrap: wrap;
    }
}

.section-how-work__item {
  display: flex;
  align-items: center;
  margin-right: 30px;
  padding-right: 3%;
  border-right: 1px solid #c7c5c4;
  color: #0d0c0a;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  &:hover {
    color: #ef8f20;
  .section-how-work__pic_1 { 
    background-image: url(./../img/section_3/bread-orange.png);
  }
  .section-how-work__pic_2 {
    background-image: url(./../img/section_3/bread-2-orange.png);
  }
  .section-how-work__pic_3 {
    background-image: url(./../img/section_3/milk.png);
  }
  .section-how-work__pic_4 {
    background-image: url(./../img/section_3/cooking.png);
  }
  }
  @media screen and (max-width:1260px) {
    border: none;
  }
  @media screen and (max-width:768px) {
    margin: 0 0 2% 0;
  }
}

.section-how-work__item:last-child {
  margin-right: 0;
  border-right: transparent;
}

.section-how-work__pic {
  background: center center / contain no-repeat;
  width: 100px;
  height: 83px;
  flex-shrink: 0;
}
  .section-how-work__pic_1 { 
    background-image: url(./../img/section_3/1_ico_3_sect-min.png);
  }
  .section-how-work__pic_2 {
    background-image: url(./../img/section_3/2_ico_3_sec-min.png);
  }
  .section-how-work__pic_3 {
    background-image: url(./../img/section_3/3_ico_3_sec-min.png);
  }
  .section-how-work__pic_4 {
    background-image: url(./../img/section_3/4_ico_3_sec-min.png);
  }




.section-how-work__desc {
  font-size: 16px;
  font-family: 'CoreRhino';
  font-weight: 900;
  padding: 0 4%;
  
}